.auth-container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.auth-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.auth-subtitle {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
    text-align: center;
}

.auth-form {
    display: flex;
    flex-direction: column;
}

.auth-label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.auth-input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-bottom: 15px;
}

.auth-button {
    padding: 10px 20px;
    background-color: #2f48b8;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.auth-toggle {
    font-size: 14px;
    color: #333;
    margin-top: 15px;
    text-align: center;
}

.auth-link {
    color: #2f48b8;
    text-decoration: none;
    cursor: pointer;
}

.otp-input {
    padding: 10px;
    border: 1px solid #2f48b8;
    border-radius: 3px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 3px;
}

.auth-otp-title {
    font-size: 22px;
    font-weight: bold;
    color: #2f48b8;
    margin-bottom: 15px;
    text-align: center;
}